body {
  margin: 0 auto;
  width: 800px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  width: 800px;
  justify-items: center;
  align-items: center;
  padding-bottom: 10%;
}

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 250px;
  width: 100%;
}

.sidebar {
  width: 100%;
  margin: 0 auto;
  /* height: 80px; */
  /* justify-items: center; */
  display: grid;
  justify-items: center;
}

.sidebar > ul {
  border: 1px solid #000;
  border-radius: 15px;
  list-style: none;
  text-align: center;
  padding: 0;
  width: 200px;
  height: 250px;
  display: grid;
  grid-gap: 5%;
  display: grid;
  grid-gap: 1px;
}

.sidebar > ul > li {
  text-decoration: none;
  color: orange;
  /* transition: all 0.8s; */
}

.sidebar > ul > li:hover {
  text-decoration: underline;
  color: #000;
}

.main {
  grid-auto-rows: 1fr 3fr 1fr;
}

.main > p {
  text-align: justify;
  padding: 0 1% 0 1%;
}
.chak--top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
  justify-items: center;
  align-items: center;
}

.chak--bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5%;
  justify-items: center;
  align-items: center;
}

.chak {
  display: grid;
  width: 100px;
  height: 100px;
  justify-items: center;
  align-items: center;
  background-image: url('./images/chuck.png');
}
